.card {
  /* background-color: #F1D5E3; */

  padding: 36px;
  border-radius: 10px;
  display: flex;
  gap: 52px;
  padding-top: 10px;
}

.grid {
  display: grid;
  gap: 65px;
}

.entire {
  margin: 0 auto;

  margin-bottom: 98px;
    max-width: 1270px;

}
