.input {
  width: 100%;
  padding: 0px;
  border: none;
  border-radius: 10px;
  background-color: #CDDFE4;

  padding: 18px;
  font-size: 20px;
  font-family: "ClashDisplay-Variable";
  color: #3b4e54;
}

.grid {
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: 132px;
}

.container {
  display: grid;
  gap: 25px;
  margin-bottom: 40px;
}

.button {
  background-color: #9ECBD9;
  font-family: "ClashDisplay-Variable";
  border-radius: 15px;
  padding: 15px 50px;
  border: none;
  display: block;
  margin: 0 auto;
  font-size: 20px;

  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover{
  background-color: #548E9F;

}
.section {
  margin: 0 auto;
    max-width: 1270px;
    padding-bottom: 98px;


}

.resize {
  resize: none;
}

.errormessage {
  font-family: "Satoshi-VariableItalic";
  color: #3b4e54;
}
